[submodule "opensync/core"]
	path = opensync/core
	url = git@github.com:plume-design/opensync.git
[submodule "opensync/platform/openwrt"]
	path = opensync/platform/openwrt
	url = git@github.com:plume-design/opensync-platform-openwrt.git
[submodule "opensync/vendor/bcm"]
	path = opensync/vendor/bcm
	url = git@github.com:plume-design/opensync-platform-bcm.git
